/**
* Wps Woocommerce
*/

$gl-palm: "screen and (max-width: 44.9375em)"; // 719px
$gl-lap: "screen and (min-width: 45em) and (max-width: 63.9375em)"; // 720px <-> 1023px
$gl-lap-and-up: "screen and (min-width: 45em)"; // 720px
$gl-portable: "screen and (max-width: 63.9375em)"; // 1023px
$gl-desktop: "screen and (min-width: 64em)"; // 1024px

$breakpoints: ("palm"$gl-palm,
    "lap"$gl-lap,
    "lap-and-up"$gl-lap-and-up,
    "portable"$gl-portable,
    "desktop"$gl-desktop);

@import "tools/tools.media-query-generator";
@import "woo/tools/mixins-woo";

@import "woo/tools/fonts";

@import "settings/settings.woo";

// Layout
@import "woo/layouts/components.layout-general";
@import "woo/layouts/components.layout-single";
@import "woo/layouts/components.layout-cart";
@import "woo/layouts/components.layout-checkout";

// Components
.woocommerce {
    @import 'woo/components/components.block-ui';
    @import 'woo/components/components.loader';
    @import 'woo/components/components.remove-link';
    @import 'woo/components/components.note';
    @import 'woo/components/components.breadcrumb';
    @import 'woo/components/components.quantity';
    @import 'woo/components/components.on-sale';
    @import 'woo/components/components.result-count';
    @import 'woo/components/components.ordering';
    @import 'woo/components/components.pagination';

    /* Buttons */
    @import 'woo/components/components.buttons';

    /* Product loops*/
    @import 'woo/components/components.product-loops';

    /* Reviews */
    @import 'woo/components/components.reviews';

    /* Ratings*/
    @import 'woo/components/components.rating';

    /* Tables */
    @import 'woo/components/components.tables';

    /* Cart sidebar */
    @import 'woo/components/components.cart-sidebar';

    /* Forms */
    @import 'woo/components/components.forms';
    @import 'woo/components/components.form-login';

}

@import 'woo/components/components.rtl';
@import 'woo/components/components.no-js';
@import 'woo/components/components.store-notice';
@import 'woo/components/components.messages';
@import 'woo/components/components.term-description';
@import 'woo/components/components.terms-and-cond';
@import 'woo/components/components.select2';
@import 'woo/components/components.prettyPhoto';
@import 'woo/components/components.header-cart';
@import 'woo/components/components.head-utility';
@import 'woo/components/components.single-image-gallery';
@import 'woo/components/components.tabs';

/* Password strength meter */
@import 'woo/components/components.password';
@import 'woo/components/components.privacy';


/**
*   Widgets
*/
/* cart sidebar */
@import 'woo/components/components.widget-cart';

/* Layered nav */
@import 'woo/components/components.widget-layered-nav';

/* Price filter widget */
@import 'woo/components/components.widget-price-filter';

/* Rating Filter Widget */
@import 'woo/components/components.widget-rating-filter';

@import 'woo/components/components.widget-network-order';

@import 'woo/components/components.widget-product-categories';


/**
*   Pages
*/
.woocommerce {
    /* Product Page*/
    @import 'woo/pages/components.product-page';
    @import 'woo/pages/components.order-page';
}

@import 'woo/pages/components.single-product';

/* Account page */
@import 'woo/pages/components.account-page';

/* Cart */
@import 'woo/pages/components.cart-page';

/* Cart/checkout page */
@import 'woo/pages/components.cart-checkout-page';