:root {
    --background-color-one: #1e90ff;
    --background-color-two: #ff6348;
    --background-color-three: #ff4757;
    --background-color-four: #ffa502;
    --background-color-five: #2ed573;
    --background-color-six: #eccc68;
    --background-color-light: #f1f2f6;
    --background-color-dark: #0C1516;
    --background-color-body: #ffffff;
    --background-color-opacity-light: 0.7;
    --background-color-opacity-dark: 0.7;
    --background-color-opaq-light: rgba(255, 255, 255, var(--background-color-opacity-light));
    --background-color-opaq-dark: rgba(000, 000, 000, var(--background-color-opacity-dark));
}

// Spacing
:root {
    --content-width: 1200px;
    --spacing-tiny: 6px;
    --spacing-small: 12px;
    --spacing-base: 24px;
    --spacing-large: 48px;
    --spacing-huge: 84px;
    --base-spacing-unit: 24px;
}

// Wrappers
:root {
    --wrapper-outer-padding: 24px;
    --wrapper-size-default: 1188px;
    --wrapper-size-adjust: calc(var(--wrapper-size-default) + 40px);
    --wrapper-size-slimmer: 600px;
    --wrapper-size-slim: 800px;
    --wrapper-size-wide: 1258px;
    --wrapper-size-extra-wide: 1458px;
}