.o-wrapper {
    padding-right: var(--spacing-base);
    padding-left: var(--spacing-base);
    margin-right: auto;
    margin-left: auto;
    max-width: var(--content-width);
}

.o-wrapper--size-adjust {
    max-width: var(--wrapper-size-adjust);
}

.o-wrapper--size-extra-slim {
    max-width: var(--wrapper-size-slimmer);
}

.o-wrapper--size-slim {
    max-width: var(--wrapper-size-slim);
}

.o-wrapper--size-wide {
    max-width: var(--wrapper-size-wide);
}

.o-wrapper--size-extra-wide {
    max-width: var(--wrapper-size-extra-wide);
}