:root {
    --color-gray-ui-base: #444;
    --color-gray-ui: #dddddd;
    --color-gray-ui-light: #EAEAEA;
    --color-gray-ui-dark: #bbbbbb;
    --text-color-gray-ui: #767676;
    --global-radius: 3px;
    --global-transition: 0.3s;
    --container-radius: 13px;
    --color-gray-ui-bg-ligh: #f7f6f6;
    --color-gray-ui-text: #919191;
}