:root {
    --button-color-default: #1E1E1C;
    --button-color-default-h: darken(#1E1E1C, 10);
    --button-color-primary: #20638f;
    --button-color-primary-h: darken(#20638f, 10);
    --button-color-secondary: #e67e22;
    --button-color-secondary-h: darken(#e67e22, 10);
    --button-color-tertiary: #00B0D0;
    --button-color-tertiary-h: darken(#00B0D0, 10);
    --button-color-negative: #e74c3c;
    --button-color-negative-h: darken(#e74c3c, 10);
    --button-color-positive: #2ecc71;
    --button-color-positive-h: darken(#2ecc71, 10);
    --button-color-neutral: #505050;
    --button-color-neutral-h: darken(#505050, 10);
    --button-color-light: #999999;
    --button-color-light-h: darken(#999999, 10);
    --button-color-white: #ffffff;
    --button-color-white-h: darken(#ffffff, 10);
    --button-text-color: #fff;
    --button-radius: 5px;
}