// Footer
:root {
    --header-background: #ffffff;
    --header-background-sticky: rgba(0, 0, 0, 0.8);
    --header-background-sticky-h: rgba(0, 0, 0, 1);
    --head-utility-color: #000000;
    --head-utility-color-h: #000000;
}