// Footer
:root {
    --footer-text-color: #fff;
    --footer-link-color: #f0f0f0;
    --footer-background-color: #000000;
    --footer-heading-color: #fff;
    --footer-micro-background-color: #333333;
}