:root {
  --text-color-body: #000000;
  --text-color-heading: #000000; 
  --text-color-light: #dddddd;
  --text-color-link: #2980b9;
  --text-color-invert: #fff;
  --text-color-primary: #265368;
  --text-color-secondary: #e74c3c;
  --text-color-tertiary: #FAFA26;
  --text-color-code: #27ae60;
  --text-color-negative:#c0392b;
}