:root {
    --main-nav-background-color: #bbbbbb;
    --main-nav-text-color: #000000;
    --main-nav-sticky-text-color: #ffffff;
    --main-nav-text-color-h: #209bed; // Hover
    --main-nav-text-color-a: #209bed; // Active
    --main-nav-submenu-text-color: #ffffff;
    --main-nav-submenu-text-color-h: #ffffff; // Hover
    --main-nav-submenu-text-color-a: #209bed; // Active
    --main-nav-submenu-background: #000;
    --main-nav-ca-text-color: #ffffff;
    --main-nav-side-text-color: #ffffff;
    --main-nav-side-background: #000;
    --main-nav-ca-one-color: #209bed;
    --main-nav-ca-one-color-h: #209bed;
    --main-nav-ca-two-color: #e74c3c;
    --main-nav-ca-two-color-h: #e74c3c;
    --nav-dropshadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}