// Template .is-{@mq}-{cols}-wide
// Function to generate the grid by number
@mixin makeGridByNumber($grid) {
    @for $i from 1 through 12 {
        .wps-col-#{$grid}-#{$i}\/12 {
            flex-basis: calc(#{$i} * (100% / 12));
            max-width:calc(#{$i} * (100% / 12));
        }
    }

    @for $x from 1 through 4 {
        .wps-col-#{$grid}-#{$x}\/5 {
            flex-basis: calc(#{$x} * (100% / 5));
            max-width:calc(#{$x} * (100% / 5));
        }
    }
}