@import './settings/root-settings.scss';
@import './objects/objects.wrapper.scss';
@import './utilities/utilities.backgrounds';
@import './utilities/utilities.spacing';
@import './components/components.color-bubbles';

/*
Grid Controls UI
*/

.wps-gb-grid {

    .block-list-appender {

        text-align: center;

        .block-editor-button-block-appender {
            margin: 0;
        }

        .block-editor-inserter {
            display: inline-block;
            width: auto;
        }
    }
}

.wps-col__inner {
    .block-list-appender {
        text-align: center;

    }
}

.wps-gb-grid-block__appender {
    display: none;

}

.has-no-inner-blocks,
.is-selected {
    .wps-gb-grid-block__appender {
        display: block;
    }
}


.editor-styles-wrapper .wps-grid-column-picker {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
        margin-right: 1em;
    }
}

.wps-gb-columns-layout {
    display: flex;
    flex-wrap: wrap;

}

.wps-gb-columns-layout__item {
    flex: 1;
    flex-basis: 50%;
    margin-bottom: 0.5em;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    padding: 1em;

    &.is-active {

        color: var(--wp-admin-theme-color);
        border-color: currentColor;

        .wps-gb-columns-layout__item-symbol>path {
            fill: currentColor;
        }
    }

    &:hover {
        border-color: currentColor;
        cursor: pointer;
    }
}


.wps-gb-columns-layout__item-icon,
.wps-gb-columns-layout__item-label {
    display: block;
    text-align: center;
}

/*
Panel image
*/

.u-margin-bottom,
.editor-post-featured-image__preview,
.editor-post-featured-image__button {
    margin-bottom: 0.5em;
}

/**
* Grid
*/
.wps-row>.block-editor-inner-blocks>.block-editor-block-list__layout {
    display: flex;
    flex-flow: row wrap;
    align-content: baseline;
    //margin-left: calc(-1 * var(--spacing-base));

    // Reset gutenberg
    .wp-block {
        margin: unset;
    }
}

// Reset gutenberg
.wps-grid {
    margin: 0;
}

.wps-row>.block-editor-inner-blocks {
    width: 100%;
}

// Reset gutenberg
.block-editor-block-list__block.wps-col {
    &:after {
        content: none;
    }
}

.wps-col {
    display: flex;
    flex-basis: 100%;
    box-sizing: border-box;
    padding-left: var(--spacing-base);
    flex: 1 1 0%;
    flex-direction: column;
}

.wps-col__inner {
    overflow: visible;
}

.wps-row--full-height-col {
    &>.block-editor-inner-blocks>.block-editor-block-list__layout {
        align-content: normal;

        .wps-col {
            min-height: 100%;

            .wps-col__inner {
                flex: 1;
            }
        }
    }



}

.wps-row--hAlign-center>.block-editor-inner-blocks>.block-editor-block-list__layout {
    justify-content: center;
}

.wps-row--hAlign-right>.block-editor-inner-blocks>.block-editor-block-list__layout {
    justify-content: flex-end;
}

.wps-row--vAlign-middle>.block-editor-inner-blocks>.block-editor-block-list__layout {
    align-items: center;
}

.wps-row--vAlign-bottom>.block-editor-inner-blocks>.block-editor-block-list__layout {
    align-items: end;
}

.wps-row--hAlign-distribute-sa>.block-editor-inner-blocks>.block-editor-block-list__layout {
    justify-content: space-around;
}

.wps-row--hAlign-distribute-sb>.block-editor-inner-blocks>.block-editor-block-list__layout {
    justify-content: space-between;
}

.wps-row--hAlign-distribute-se>.block-editor-inner-blocks>.block-editor-block-list__layout {
    justify-content: space-evenly;
}

.wps-row--equal-height-col {
    &>.block-editor-inner-blocks>.block-editor-block-list__layout {
        align-content: flex-start;

        >.wps-col {
            flex-direction: column;

            >* {
                flex: 1;
            }
        }

    }

    &.wps-row--full-height-col.wps-row--vAlign-middle>.block-editor-inner-blocks>.block-editor-block-list__layout {
        align-content: center;
    }

    &.wps-row--full-height-col.wps-row--vAlign-bottom>.block-editor-inner-blocks>.block-editor-block-list__layout {
        align-content: center;
    }

    &.wps-row--vAlign-middle,
    &.wps-row--vAlign-bottom {
        &>.block-editor-inner-blocks>.block-editor-block-list__layout {
            align-items: initial;
        }
    }

    &.wps-row--vAlign-middle {
        &>.block-editor-inner-blocks>.block-editor-block-list__layout {
            align-content: center;
        }
    }

    &.wps-row--vAlign-bottom {
        &>.block-editor-inner-blocks>.block-editor-block-list__layout {
            align-content: flex-end;
        }
    }
}

.wps-row--full-height-row {
    >.block-editor-inner-blocks>.block-editor-block-list__layout {
        min-height: 100vh;
    }

    &.wps-row--vAlign-middle>.block-editor-inner-blocks>.block-editor-block-list__layout {
        align-content: center;
    }

    &.wps-row--vAlign-bottom>.block-editor-inner-blocks>.block-editor-block-list__layout {
        align-content: flex-end;
    }
}

.wps-col__inner--vAlign-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wps-col__inner--vAlign-bottom {
    display: flex;
    flex-direction: column;
    justify-content: end;
}