@import './settings/root-settings.scss';
@import './objects/objects.wrapper.scss';
@import 'tools/tools-grid-generator';

.wps-row {
    display: flex;
    flex-flow: row wrap;
    align-content: baseline;
    margin-left: calc(-1 * var(--spacing-base));


    &.wps-row--spacing-none {
        margin-left: 0;

        >.wps-col {
            padding-left: 0;
        }
    }

    &.wps-row--spacing-tiny {
        margin-left: calc(-1 * var(--spacing-tiny));

        >.wps-col {
            padding-left: var(--spacing-tiny);
        }
    }

    &.wps-row--spacing-small {
        margin-left: calc(-1 * var(--spacing-small));

        >.wps-col {
            padding-left: var(--spacing-small);
        }
    }

    &.wps-row--spacing-large {
        margin-left: calc(-1 * var(--spacing-large));

        >.wps-col {
            padding-left: var(--spacing-large);
        }
    }

    &.wps-row--spacing-huge {
        margin-left: calc(-1 * var(--spacing-huge));

        >.wps-col {
            padding-left: var(--spacing-huge);
        }
    }

}

.wps-col {
    display: flex;
    box-sizing: border-box;
    padding-left: var(--spacing-base);
    flex: 1 1 0%;
    flex-direction: column;
    flex-basis: 100%;
}

/*
* Media query vars
*/
$phone: "screen and (max-width: 44.9375em)"; // 719px
$lap: "screen and (min-width: 45em) and (max-width: 63.9375em)"; // 720px <-> 1023px
$lap-and-up: "screen and (min-width: 45em)"; // 720px
$portable: "screen and (max-width: 63.9375em)"; // 1023px
$desktop: "screen and (min-width: 64em)"; // 1024px

$sizes: ('phone':$phone, 'lap':$lap, 'lap-and-up':$lap-and-up, 'portable':$portable, 'desktop':$desktop);

@each $name,
$value in $sizes {
    @media #{$value} {
        @include makeGridByNumber($name);
    }
}

.wps-col__inner {
    overflow: visible;
}

.wps-row--full-height-col {
    align-content: normal;

    .wps-col {
        min-height: 100%;

        .wps-col__inner {
            flex: 1;
        }
    }
}

.wps-row--hAlign-center {
    justify-content: center;
}

.wps-row--hAlign-right {
    justify-content: flex-end;
}

.wps-row--vAlign-middle {
    align-items: center;
}

.wps-row--vAlign-bottom {
    align-items: end;
}

.wps-row--hAlign-distribute-sa {
    justify-content: space-around;
}

.wps-row--hAlign-distribute-sb {
    justify-content: space-between;
}

.wps-row--hAlign-distribute-se {
    justify-content: space-evenly;
}

.wps-row--equal-height-col {
    align-content: flex-start;

    >.wps-col {
        flex-direction: column;

        >* {
            flex: 1;
        }
    }

    &.wps-row--full-height-col.wps-row--vAlign-middle {
        align-content: center;
    }

    &.wps-row--full-height-col.wps-row--vAlign-bottom {
        align-content: flex-end;
    }

    &.wps-row--vAlign-middle,
    &.wps-row--vAlign-bottom {
        align-items: initial;
    }

    &.wps-row--vAlign-middle {
        align-content: center;
    }

    &.wps-row--vAlign-bottom {
        align-content: flex-end;
    }
}

.wps-row--full-height-row {
    min-height: 100vh;

    &.wps-row--vAlign-middle {
        align-content: center;
    }

    &.wps-row--vAlign-bottom {
        align-content: flex-end;
    }
}

.wps-col__inner--vAlign-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wps-col__inner--vAlign-bottom {
    display: flex;
    flex-direction: column;
    justify-content: end;
}