/*------------------------------------*\
    #BASE LINKS
\*------------------------------------*/

a {
    text-decoration: none;
    color: var(--text-color-link);

    &:hover,
    &:active {
        text-decoration: underline;
    }

}