.c-slide-nav,
.c-slide-nav-toggler,
.c-slide-nav-mask {
    @include media-query(desktop) {
        display: none;
    }
}

.c-slide-nav {
    --main-nav-text-color: var(--main-nav-side-text-color);
    --main-nav-text-color-h: var(--main-nav-side-text-color);
    --main-nav-submenu-text-color-h: var(--main-nav-side-text-color);
    --menu-width: 30%;
    padding: 0 var(--spacing-small);
    position: fixed;
    z-index: 1000;
    background-color: var(--main-nav-side-background);
    transition: transform var(--global-transition);



    .show-submenu {
        color: var(--main-nav-text-color);
        font-size: (--font-size-inter);
        padding: 0.7em;
    }

    .menu-item--show-submenu .site-nav__link,
    .menu-item--show-submenu {
        cursor: pointer;
    }

    .menu-item:hover .show-submenu {
        --main-nav-text-color: var(--main-nav-side-text-color);
    }

    .site-nav__link {
        --main-nav-text-color: var(--main-nav-side-text-color);
    }



    .site-nav__list,
    .site-mobile-nav__list {
        list-style: none;
        margin-bottom: 0;
        margin-left: 0;
    }

    .menu-item-has-children .sub-menu .site-nav__link {
        padding: 0.3rem 0.7rem 0.3rem 2.3rem;
    }

    .c-slide-nav__items {
        list-style: none;
        margin: 0;
    }
}


.c-slide-nav__nav-wrapper {
    display: flex;
    flex: 1;
    min-height: 100%;
    flex-flow: column nowrap;

    >* {
        width: 100%;
        height: auto;
    }

    .menu-main-nav-bottom-container {
        margin-top: auto;
        margin-bottom: 12px;
    }
}

.c-slide-nav-close,
.c-slide-nav-toggler {
    color: var(--main-nav-text-color);
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: var(--global-radius);
    overflow: hidden;
    white-space: nowrap;
    border-radius: var(--global-radius);
    background-color: transparent;
    border: none;
}

.header-light .site-header .c-slide-nav-toggler {
    color: var(--text-color-body);
}

.header-dark .site-header .c-slide-nav-toggler {
    color: var(--text-color-invert);
}

/* Hamburger menu icon */
.c-slide-nav-toggler-icon {
    display: inline-block;
    width: 30px;
    height: 24px;
    //margin-top: 10px;
    position: relative;
    transform: rotate(0deg);
    transition: var(--global-transition) ease-in-out;
    cursor: pointer;

    span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: currentColor; //$color-nav-link
        //border-radius: 2px;
        opacity: 1;
        left: 0;

        transform: rotate(0deg);

        transition: var(--global-transition) ease-in-out;


        &:nth-child(1) {
            top: 0px;
        }

        &:nth-child(2),
        &:nth-child(3) {
            top: 8px;
        }

        &:nth-child(4) {
            top: 16px;
        }
    }
}


.has-active-menu .c-slide-nav-toggler-icon span:nth-child(1) {
    top: 8px;
    width: 0%;
    left: 50%;
}

.has-active-menu .c-slide-nav-toggler-icon span:nth-child(2) {

    transform: rotate(45deg);
}

.has-active-menu .c-slide-nav-toggler-icon span:nth-child(3) {

    transform: rotate(-45deg);
}

.has-active-menu .c-slide-nav-toggler-icon span:nth-child(4) {
    top: 8px;
    width: 0%;
    left: 50%;
}

.c-slide-nav-toggler__label {
    color: currentColor;
    margin-right: 0.5em;
    letter-spacing: 0.04em;
    font-size: 14px;
    font-weight: 500;
}

.c-slide-nav-toggler-icon {
    display: inline-block;
    vertical-align: middle;
}

/**
 * Left and right menus
 */
.c-slide-nav--slide-right {
    width: 100%;
    height: 100%;
    overflow-y: auto;

    .logged-in & {
        height: calc(100% - 29px);
    }

    @include media-query(lap-and-up) {
        width: 38%;
    }

    @media only screen and (min-width: 1239px) and (max-width: 1400px) {
        width: 28%;
    }

    @media only screen and (min-width: 1401px) and (max-width: 1600px) {
        width: 25%;
    }

    @media only screen and (min-width: 1601px) {
        width: 23%;
    }


    &::-webkit-scrollbar {
        width: 0.752rem;
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--color-gray-ui);
        outline: none;
    }

}

.c-slide-nav--slide-right .c-slide-nav__link {
    display: block;
    padding: var(--spacing-small) var(--spacing-base);
    color: var(--text-color-invert);
}

/**
 * Slide/Push Menu Right.
 */

.c-slide-nav--slide-right {
    top: 0;
    right: 0;
    transform: translatex(100%);
}

.c-slide-nav--slide-right.is-active {
    transform: translatex(0);
    @include box-shadow(0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19));
}

// Compensate logged in admin bar height
.logged-in .c-slide-nav--slide-right,
.logged-in .c-slide-nav--slide-right.is-active {
    top: 32px;
}

/**
 * Wrapper states.
 *
 * Various wrapper states occur depending on if a menu is pushing into view, in
 * which case, the wrapper has to be pushed by the respective distance.
 */

.site.has-push-left {
    transform: translateX(100%);

    @include media-query(desktop) {
        transform: translateX(var(--menu-width));
    }
}

/**
 * Body states.
 *
 * When a menu is active, we want to hide the overflows on the body to prevent
 * awkward document scrolling.
 */

body.has-active-menu {
    overflow: hidden;
}

/**
   * Close button resets.
   */
.c-slide-nav-close,
.c-slide-nav__close {
    appearance: none;
    cursor: pointer;
}

.c-slide-nav-toggler {
    cursor: pointer;
}

.c-slide-nav__close:focus {
    outline: none;
}

/* -----------------------------------------------------------------------------
    MASK COMPONENT  
  ----------------------------------------------------------------------------- */

.c-slide-nav-mask {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 0;
    height: 0;
    background-color: #000;
    opacity: 0;
    transition: opacity var(--global-transition), width 0s var(--global-transition), height 0s var(--global-transition);
}

.c-slide-nav-mask.is-active {
    width: 100%;
    height: 100%;
    opacity: 0.7;
    transition: opacity var(--global-transition);
}

.c-slide-nav__close {
    text-align: right;
    padding: var(--spacing-base) var(--spacing-small);
}


.c-slide-nav__item.menu-item-has-children {

    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    >.site-nav__link {
        display: inline-block;
        width: 85%;
    }

    >.show-submenu {
        width: 15%;
    }

    >.sub-menu {
        transition: all 600ms, visibility 600ms;
        max-height: 0;
        overflow-y: hidden;
        width: 100%;

        &.expanded {
            max-height: 1000px;
        }
    }


    .show-submenu {

        .site-nav__icon {
            transition: transform var(--global-transition) ease-in-out;
            transform: rotate(0deg);
        }

        &.show .site-nav__icon {
            transform: rotate(-90deg);
        }

    }

}

.c-slide-nav__social-list {
    padding-top: var(--spacing-small);
    display: flex;
    flex-wrap: wrap;
}

.contact-data {
    padding: var(--spacing-small) 0;
    color: var(--text-color-invert);

    .contact-data__item {
        display: block;
        margin-bottom: var(--spacing-small);
        color: inherit;
    }
}