/*------------------------------------*\
    #COMPONENTS WP-POSTS Page Nav
\*------------------------------------*/


/* Page navigation */
.nav-links {

    padding: --spacing-small 0;
    margin-bottom: var(--spacing-base);
    border-bottom: 1px solid var(--color-gray-ui);
    //border-top: 1px solid $color-gray-ui;
}

.paging-navigation {
    a:hover {
        color: var(--background-color-body);
    }

    .nav-next {
        text-align: right;
    }
}

.nav-previous,
.nav-next {

    color: var(--text-color-body);
    transition: background-color var(--global-transition) linear;

    a {
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;
        color: currentColor;
        height: 100%;
        padding: var(--spacing-small);
    }

    .nav__item-link {
        display: block;
        margin-top: auto;
        flex-basis: 100%;
    }

    &:hover {
        background-color: var(--color-gray-ui-light);
    }


}

.nav-next .nav__item-link {
    text-align: right;
}

.nav__item-title {
    font-weight: 500;
}

@include media-query(lap-and-up) {
    .nav-links {
        a:hover {
            text-decoration: none;

        }

        display:flex;
        align-items: strech;

        .nav-previous,
        .nav-next {
            flex: 2;

        }
    }
}




/* Post Navigation */
.post-navigation {
    //border-bottom: 1px solid $color-gray-ui;
}

.nav-fig {
    margin-bottom: var(--spacing-small);

    img {
        width: 45px;
        height: 45px;
    }
}

.nav__item-title {
    font-size: var(--font-size-small);
}

.paging-numbered-navigation {
    text-align: center;
    //padding:$spacing-unit 0;
    //border-top:1px solid $color-gray-ui;


    .page-numbers {
        font-size: var(--font-size-small);
        padding: 0.2em 0.7em;
        border: 1px solid var(--text-color-body);
        color: var(--text-color-body);

        &.current {
            background-color: var(--text-color-body);
            font-weight: 600;
            color: var(--text-color-invert);
            border-color: var(--text-color-body);
        }

        &:hover {
            color: var(--text-color-invert);
            background-color: var(--text-color-body);
            text-decoration: none;
        }
    }
}