$backgroundColors: one,
two,
three,
four,
five,
six,
light,
dark,
body;

@each $color in $backgroundColors {

    .has-#{$color}-background-color,
    .u-background-color-#{$color} {
        background-color:var(--background-color-#{$color});
    }
}

/* Transpearent Backgrounds */
.u-background-color-transparent-dark {
    background-color: var(--background-color-opaq-dark);
}

.u-background-color-transparent-light {
    background-color: var(--background-color-opaq-light);
}

/*********************************
 Background Image Adjustments 
**********************************/


.u-background-cover {
    background-repeat: no-repeat;
    background-size: cover;
}

.u-background-contain {
    background-repeat: no-repeat;
    background-size: contain;
}

.u-background-no-repeat {
    background-repeat: no-repeat;
}


/* Background positioning */
.u-background-pos-top-center {
    background-position: top center;
}

.u-background-pos-top-right {
    background-position: top right;
}

.u-background-pos-bottom-left {
    background-position: bottom left;
}

.u-background-pos-bottom-center {
    background-position: bottom center;
}

.u-background-pos-bottom-right {
    background-position: bottom right;
}

.u-background-pos-center {
    background-position: center;
}

.u-background-pos-center-left {
    background-position: center left;
}

.u-background-pos-center-right {
    background-position: center right;
}